@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/FontsFree-Net-Roboto-Regular.ttf");
  font-display: swap;
}

@font-face {
  font-family: "SFProDisplay";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/FontsFree-Net-SFProDisplay-Regular.ttf");
  font-display: swap;
}

@font-face {
  font-family: "SFProDisplay";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/FontsFree-Net-SFProDisplay-Bold.ttf");
  font-display: swap;
}

@font-face {
  font-family: "SFProText";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/FontsFree-Net-SFProText-Regular.ttf");
  font-display: swap;
}

@font-face {
  font-family: "SFProText";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/FontsFree-Net-SFProText-Semibold.ttf");
  font-display: swap;
}

@font-face {
  font-family: "SFProText";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/FontsFree-Net-SFProText-Bold.ttf");
  font-display: swap;
}
